<form action="/teams" method="post">
  <h1>Create a Team and Heroes!</h1>
  <p>Team Name: <input type="text" id="team[name]" name="" value=""></p>
  <p>Team Motto: <input type="text" id="team[motto]" name="" value=""></p>

  <h1>Hero 1</h1>
  <p>Hero's Name: <input type="text" id="member1_name" name="" value=""></p>
  <p>Hero's Power: <input type="text" id="member1_power" name="" value=""></p>
  <p>Hero's Biography: <input type="text" id="member1_bio" name="" value=""></p>

  <h1>Hero 2</h1>
  <p>Hero's Name: <input type="text" id="member2_name" name="" value=""></p>
  <p>Hero's Power: <input type="text" id="member2_power" name="" value=""></p>
  <p>Hero's Biography: <input type="text" id="member2_bio" name="" value=""></p>

  <h1>Hero 3</h1>
  <p>Hero's Name: <input type="text" id="member3_name" name="" value=""></p>
  <p>Hero's Power: <input type="text" id="member3_power" name="" value=""></p>
  <p>Hero's Biography: <input type="text" id="member3_bio" name="" value=""></p>

  <input type="submit" name="submit" value="Submit">
</form>
