<form class="" action="index.html" method="post">
  <h1>Create a team and heroes!</h1>
  <p>Team Name: <input type="text" id="" name="" value=""></p>
  <p>Team Motto: <input type="text" id="" name="" value=""></p>

  <h1>Hero 1</h1>
  <p>Hero's Name: <input type="text" id="" name="" value=""></p>
  <p>Hero's Power: <input type="text" id="" name="" value=""></p>
  <p>Hero's Biography: <input type="text" id="" name="" value=""></p>

  <h1>Hero 2</h1>
  <p>Hero's Name: <input type="text" id="" name="" value=""></p>
  <p>Hero's Power: <input type="text" id="" name="" value=""></p>
  <p>Hero's Biography: <input type="text" id="" name="" value=""></p>

  <h1>Hero 3</h1>
  <p>Hero's Name: <input type="text" id="" name="" value=""></p>
  <p>Hero's Power: <input type="text" id="" name="" value=""></p>
  <p>Hero's Biography: <input type="text" id="" name="" value=""></p>

  <input type="submit" name="submit" value="Submit">
</form>
